{% extends 'base.html' %}

{% load static %}

{% load activite_filter %}

{% load helper_filter %}

{% block javascript %}
  <script src="{% static 'js/activite.js' %}"></script>
  <script type="text/javascript">
    //Initialiser les dates de la période
    Helpers.DatePicker('apm_du'); //Date début
    Helpers.DatePicker('apm_au'); //Date fin
  </script>
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">   
      <div class="row">
        <div class="col-sm-8" style="padding-top: 6px;">
          <h4 class="card-title mb-0"><i class="fa fa-street-view"></i>&nbsp;Gestion d'allocation de places dans les marchés</h4>
        </div>
        <div class="col-sm-4 hidden-sm-down" style="padding-top: 6px;">
          {% if not user.is_superuser %}
            <button type="button" class="btn btn-primary float-right js-create-entity" data-url="{% url 'allocation_place_marche_create' %}" {% if user.is_superuser or request.user|has_group:'IT_ADMIN' or request.user|has_group:'IT_USERS' %} disabled="disabled" title="Vous n'avez pas droit" {% endif %}>
              <i class="fa fa-plus"></i>&nbsp;Ajouter une allocation
            </button>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="card-body" style= "overflow-x:auto; padding-top: 5px;">
      <form method="POST" action="{% url 'allocation_place_marche_list' %}">
        <div class="row">
          <div class="col-sm-4">
            <div class="btn-toolbar float-left" role="toolbar" aria-label="Toolbar with button groups">
              <div>
                <label class="label_search">Du:<input type="text" id="apm_du" name="apm_du" value="{{ apm_du }}" placeholder="" title="Date début" class="form-control search-input"/></label>
                <label class="label_search">Au:<input type="text" id="apm_au" name="apm_au" value="{{ apm_au }}" placeholder="" title="Date fin" class="form-control search-input"/></label>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
              <div>
                <label class="label_search">Marché:<input type="text" name="apm_marche" value="{{ apm_marche }}" placeholder="..." title="Contenant le nom du marché" class="form-control search-input"/></label>
                <label class="label_search">Place:<input type="text" name="apm_place" value="{{ apm_place }}" placeholder="..." title="Contenant le numéro de place" class="form-control search-input"/></label>
                <label class="label_search">Matricule:<input type="text" name="apm_contribuable" value="{{ apm_contribuable }}" placeholder="..." title="Contenant le matricule du contribuable" class="form-control search-input"/></label>
                <label class="label_search">Nom:<input type="text" name="apm_contribuable_nom" value="{{ apm_contribuable_nom }}" placeholder="..." title="Contenant le nom du contribuable" class="form-control search-input"/></label>
                <label class="label_search">Utilisateur:<input type="text" name="apm_user_create" value="{{ apm_user_create }}" placeholder="..." title="Crée par" class="form-control search-input"/></label>
                <label class="label_search">
                  Status:
                  <select name="apm_status" class="form-control search-input">
                    <option value="0">...</option>
                    <option value="1" {% if apm_status == '1' %} selected='selected' {% endif %}>Validée</option>
                    <option value="2" {% if apm_status == '2' %} selected='selected' {% endif %}>En attente</option>
                    <option value="3" {% if apm_status == '3' %} selected='selected' {% endif %}>Brouillon</option>
                  </select>
                </label>
                <label><button type="submit" id="btn_search" title="Rechercher/Actualiser" class="btn btn-primary btn-sm search-button"><i class="fa fa-search"></i></button></label>
                <label>&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" id="btn_excel" title="Genere excel" class="btn btn-sm btn-success"><i class="fa fa-file-excel-o"></i>&nbsp;Generer excel</button></label>
              </div>
            </div>
          </div>
        </div>
      </form>
      <table class="table table-hover table-bordered table-striped table-outline mb-0 nowrap" id="entity-table" width="100%" cellspacing="0">
        <thead class="thead-default">
            <th class="text-center"></th>
            <th class="text-center">Action</th>
            <th class="text-center">Status</th>
            <th class="text-center">Contribuable</th>
            <th class="text-center">Marché</th>
            <th class="text-center">Place</th>
            <th class="text-center">Coût</th>
            <th class="text-center">Caution</th>
            <th class="text-center">Date</th>
            <th class="text-center">Crée par</th>
          </tr>
        </thead>
        <tbody>
          {% include 'allocation_place_marche/includes/_allocation_place_marche_list.html' %}          
        </tbody>      
      </table>
      {% include 'paginator.html' %}
    </div>
    <div class="card-footer">{{ lst | nombre_enreg_by_user:user }}</div>
  </div>
{% endblock %}