{% load static %}

<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-people"></i>Contribuable</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'physique_list' %}">&nbsp;&nbsp;&nbsp;&nbsp;&#x2023;&nbsp;Physique</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'morale_list' %}">&nbsp;&nbsp;&nbsp;&nbsp;&#x2023;&nbsp;Morale</a>
                    </li>                   
                </ul>
            </li>
            
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-files-o"></i>Activités</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'activite_exceptionnelle_list' %}">&nbsp;&nbsp;&nbsp;&nbsp;&#x2023;&nbsp;Exceptionnelle</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'allocation_panneau_publicitaire_list' %}">&nbsp;&nbsp;&nbsp;&nbsp;&#x2023;&nbsp;Panneau publicitaire</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'publicite_mur_cloture_list' %}">&nbsp;&nbsp;&nbsp;&nbsp;&#x2023;&nbsp;Publicité mur-clôture</a>
                    </li> 
                </ul>
            </li>
            
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-credit-card"></i>Avis d'imposition</a>
               <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <!-- mod_parametrage.enums.choix_taxe_filter.TAXE_ACTIVITE_EXCEPTIONNELLE -->
                        <a class="nav-link" href="{% url 'avis_imposition_list' TAXE_ACTIVITE_EXCEPTIONNELLE %}">&nbsp;&nbsp;&nbsp;&nbsp;&#x2023;&nbsp;Exceptionnelle</a>
                    </li>
                </ul>
            </li>                 
            
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-credit-card-alt"></i>Notes d'imposition</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ni_allocation_panneau_publicitaire_list' %}">&nbsp;&nbsp;&nbsp;&nbsp;&#x2023;&nbsp;NI-Panneau Pub</a> <!--IMPRESSION DE LA NOTE UNIQUEMENT : IMPORTANT-->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ni_publicite_mur_cloture_list' %}">&nbsp;&nbsp;&nbsp;&nbsp;&#x2023;&nbsp;NI-Pub Mur.Clôture</a> <!--IMPRESSION DE LA NOTE UNIQUEMENT : IMPORTANT-->
                    </li>
                </ul>
            </li>  
            <li class="divider"></li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>