
{% load contribuable_filter %}

{% load activite_filter %}

{% load impot_filter %}

{% load transport_filter %}

{% load humanize %}

{% load mathfilters %}

<div class="row">
    <div class="col-sm-6 col-lg-2">
        <div class="card text-white bg-success">
            <div class="card-body pb-0">
                <i class="icon-people"></i>&nbsp;<span class="font-weight-bold">CONTRIBUABLES</span>
                <div class="btn-group float-right">
                    <button type="button" class="btn btn-transparent dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="icon-settings"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{% url 'physique_list' %}">Personnes Physiques</a>
                        <a class="dropdown-item" href="{% url 'morale_list' %}">Personnes Morales</a>
                    </div>
                </div>
                <p>
                    <h4 class="mb-0">{{ 0 | nombre_contribuables }}</h4><p>Enregistrés</p>
                    <h4 class="mb-0">{{ 1 | nombre_contribuables }}</h4><p>Personnes physiques</p>
                    <h4 class="mb-0">{{ 2 | nombre_contribuables }}</h4><p>Personne morales</p>
                    <h4 class="mb-0">{{ 0  }}</h4><p>Dans place marché</p>
                </p>
            </div>
        </div>
    </div>
    <!--/.col-->

    <div class="col-sm-6 col-lg-2">
        <div class="card text-white bg-primary">
            <div class="card-body pb-0">
                <i class="fa fa-street-view"></i>&nbsp;<span class="font-weight-bold">PLACE MARCHÉ</span>
                <div class="btn-group float-right">
                    <button type="button" class="btn btn-transparent dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="icon-settings"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{% url 'allocation_place_marche_list' %}">Place dans le marché</a>
                    </div>
                </div>
                <p>
                    <h4 class="mb-0">{{ 0  }}</h4><p>Enregistrés</p>
                    <h4 class="mb-0">{{ 0  }}</h4><p>Contribuables</p>
                    <h4 class="mb-0">{{ 0  }}</h4><p>Occupées</p>
                    <h4 class="mb-0">{{ 0  }}</h4><p>Disponibles</p>
                </p>
            </div>
        </div>
    </div>
    <!--/.col-->

    <div class="col-sm-6 col-lg-2">
        <div class="card text-white bg-info">
            <div class="card-body pb-0">
                <i class="fa fa-university"></i>&nbsp;<span class="font-weight-bold">SITES TOURISTIQUES</span>
                <div class="btn-group float-right">
                    <button type="button" class="btn btn-transparent dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="icon-settings"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{% url 'visite_site_touristique_list' %}">Visite site touristique</a>
                    </div>
                </div>
                <p>
                    <h4 class="mb-0">{{ 0  }}</h4><p>Enregistrés</p>
                </p>
            </div>
            <div class="chart-wrapper px-3" style="height:180px;">
                <canvas id="card-chart1" class="chart" height="60px"></canvas>
            </div>
        </div>
    </div>
    <!--/.col-->

    <div class="col-sm-6 col-lg-2">
        <div class="card text-white bg-dark">
            <div class="card-body pb-0">
                <i class="fa fa-credit-card-alt"></i>&nbsp;<span class="font-weight-bold">AVIS D'IMPOSITION</span>
                <div class="btn-group float-right">
                    <button type="button" class="btn btn-transparent dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="icon-settings"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{% url 'avis_imposition_list' 5 %}">Avis visite site touristique</a>
                    </div>
                </div>
                <p>
                    <h4 class="mb-0">{{ 0 }}</h4><p>Enregistrées</p>
                    <h4 class="mb-0">{{ 0 }}</h4><p>Payés</p>
                    <h4 class="mb-0">{{ 0 }}</h4><p>Non payés</p>
                </p>
            </div>
            <div class="chart-wrapper px-3" style="height:60px;">
                <canvas id="card-chart1" class="chart" height="60px"></canvas>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-2">
        <div class="card text-dark bg-warning">
            <div class="card-body pb-0">
                <i class="fa fa-credit-card-alt"></i>&nbsp;<span class="font-weight-bold">NOTES D'IMPOSITION</span>
                <div class="btn-group float-right">
                    <button type="button" class="btn btn-transparent dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="icon-settings"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{% url 'ni_impot_foncier_list' %}">Place dans le marché</a>
                    </div>
                </div>
                <p>
                    <h4 class="mb-0">{{ 0 }}</h4><p>Enregistrées</p>
                    <h4 class="mb-0">{{ 0 }}</h4><p>payées</p>
                    <h4 class="mb-0">{{ 0 }}</h4><p>Non payées</p>
                </p>
            </div>
            <div class="chart-wrapper px-3" style="height:60px;">
                <canvas id="card-chart1" class="chart" height="60px"></canvas>
            </div>
        </div>
    </div>
    <!--/.col-->
</div>

<!--/.row-->
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-5">
                <h4 class="card-title mb-0">Traffic</h4>
                <div class="small text-muted">du {% now "d-m-Y" %}</div>
            </div>
            <!--/.col-->
            <div class="col-sm-7 hidden-sm-down">
                <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-3" data-toggle="buttons" aria-label="First group">
                        <label class="btn btn-outline-secondary active">
                            <input type="radio" name="options" id="option1" onchange="">{% now "d" %}
                        </label>
                        <label class="btn btn-outline-secondary">
                            <input type="radio" name="options" id="option2" onchange="">{% now "m" %}
                        </label>
                        <label class="btn btn-outline-secondary">
                            <input type="radio" name="options" id="option3" onchange="">{% now "Y" %}
                        </label>
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->

            
    </div>
</div>