<form method="post" action="{% url 'activite_marche_create' %}" class="js-entity-create-form">
   {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title"><i class="fa fa-cart-plus"></i>&nbsp;Créer une nouvelle activité dans le marché</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
     {% include 'activite_marche/includes/_activite_marche_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal"> <i class="fa fa-undo"></i>&nbsp;Annuler</button>      
  </div>
</form>