{% load parametrage_filter %}


<form method="post" enctype="multipart/form-data" action="{% url 'physique_upload' obj.pk %}" class="js-entity-upload-form">
   {% csrf_token %}
  <div class="modal-header">
    <h5 class="modal-title"><i class="fa fa-file-pdf-o"></i>&nbsp;{% if not obj.date_validate %} Joindre des fichiers pour le {% else %} Visualiser ou Télécharger les fichiers du {% endif %} contribuable n°<em>{{ obj }}</em></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Fermer">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="form-group row">
        <div class="{% if obj.date_validate %} col-sm-12 {% else %} col-sm-8 {% endif %}" style="border: 1px solid #c2cfd6;"> 
            <a target="_blank" class="nav-link {% if not obj.photo_file %} disabled-element-normal {% endif %}" href="{{ obj.photo_file | get_file_upload_url }}">{{ obj.photo_file | get_file_upload:'La photo' }}</a>                
        </div>
        <div class="{% if obj.date_validate %} col-sm-0 {% else %} col-sm-4 {% endif %}" id="upload_button">
          <label>
            <input id="id_photo_file" type="file" class="" name="photo_file" ngf-select ng-model="new_files" ng-change="fs.uploadFiles(new_files)" {% if obj.date_validate %} disabled: disabled {% endif %} onchange="getFileUploadName(this, 'photo_file_select');">
            {% if not obj.date_validate %}
              <span class="btn btn-warning" title="Seléctioner le fichier">
                 <span class="span-upload-file" id="photo_file_select"><i class="required_field">*</i>&nbsp;Photo ...&nbsp;&nbsp;</span>
              </span>
            {% endif %}
          </label>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <div class="{% if obj.date_validate %} col-sm-12 {% else %} col-sm-8 {% endif %}" style="border: 1px solid #c2cfd6;"> 
            <a target="_blank" class="nav-link {% if not obj.identite_file %} disabled-element-normal {% endif %}" href="{{ obj.identite_file | get_file_upload_url }}">{{ obj.identite_file | get_file_upload:'La CNI/Passeport' }}</a>
        </div>
        <div class="{% if obj.date_validate %} col-sm-0 {% else %} col-sm-4 {% endif %}" id="upload_button">
          <label>
            <input id="id_identite_file" type="file" class="" name="identite_file" ngf-select ng-model="new_files" ng-change="fs.uploadFiles(new_files)" {% if obj.date_validate %} disabled: disabled {% endif %} onchange="getFileUploadName(this, 'identite_file_select');">
            {% if not obj.date_validate %}
              <span class="btn btn-warning" title="Seléctioner le fichier" >
                <span class="span-upload-file" id="identite_file_select"><i class="required_field">*</i>&nbsp;Identité ...</span>
              </span>
            {% endif %}
          </label>
        </div>
      </div>
      <br>
      <div class="form-group row">
        {% if obj.date_validate and not obj.nif_file %}
          <!-- !!! IMPORTANT -->
        {% else %}
          <div class="{% if obj.date_validate %} col-sm-12 {% else %} col-sm-8 {% endif %}" style="border: 1px solid #c2cfd6;">
            
              <a target="_blank" class="nav-link {% if not obj.nif_file %} disabled-element-normal {% endif %}" href="{{ obj.nif_file | get_file_upload_url }}">{{ obj.nif_file | get_file_upload:'Le NIF' }}</a>
            
          </div>
        {% endif %}
        <div class="{% if obj.date_validate %} col-sm-0 {% else %} col-sm-4 {% endif %}" id="upload_button">
          <label>
            <input id="id_nif_file" type="file" class="" name="nif_file" ngf-select ng-model="new_files" ng-change="fs.uploadFiles(new_files)" {% if obj.date_validate %} disabled: disabled {% endif %} onchange="getFileUploadName(this, 'nif_file_select');">
            {% if not obj.date_validate %}
              <span class="btn btn-warning" title="Seléctioner le fichier" >
                <span class="span-upload-file" id="nif_file_select"><i class="required_field">*</i>&nbsp;NIF ...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              </span>
            {% endif %}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    {% if not obj.date_validate %} 
      <button type="submit" class="btn btn-primary"> <i class="fa fa-save"></i>&nbsp;Enregistrer</button>
    {% endif %}
    <button type="button" class="btn btn-secondary" data-dismiss="modal"> <i class="fa fa-undo"></i>&nbsp;{% if obj.date_validate %} Fermer {% else %} Annuler {% endif %}</button>      
  </div>
</form>