{% load activite_filter %}

{% load helper_filter %}

{% load humanize %} 

{% for obj in lst %}
<tr>
	<td class="text-center">{{ forloop.counter }}</td>
	<td class="text-center">
		{% if obj.user_create == user %}
			<button type="button" title="{% if obj.date_validate is None  %} Mettre à jour les informations {% else %} Visualiser les informations {% endif %}"
				class="btn {% if obj.date_validate is None %} btn-primary {% else %} btn-secondary {% endif %} btn-sm js-update-entity"
				data-url="{% url 'allocation_place_marche_update' obj.id %}">
				<span class="{% if obj.date_validate is None %} fa fa-edit {% else %} fa fa-folder-open-o {% endif %}"></span> <!--Edition-->
			</button>
		{% else %}
			<button type="button" title="Visualiser les informations"
				{% if obj.date_validate %} enabled='enabled' {% else %} disabled='disabled' {% endif %}	
				class="btn btn-secondary btn-sm js-update-entity"
				data-url="{% url 'allocation_place_marche_update' obj.id %}">
				<span class="fa fa-folder-open-o"></span> <!--Visualisation-->
			</button>
		{% endif %}	
		
		<button type="button" title="{% if obj.date_validate and obj.fichier_contrat %} Visualiser le fichier {% else %} Attacher la pièce jointe {% endif %}"
			{% if not obj.date_validate and obj.user_create != user %} disabled='disabled' {% else %} enabled='enabled' {% endif %}
			class="btn {% if not obj.date_validate %} 
							{% if obj.fichier_contrat %} btn-warning {% else %} btn-info {% endif %} 
					   {% else %} 
					   		btn-secondary 
					   {% endif %} 
			btn-sm js-upload-entity"
			data-url="{% url 'allocation_place_marche_upload' obj.id %}">
			<span class="fa fa-paperclip"></span> <!--Upload pièces jointes-->
		</button>

		{% if request.user|has_group:'ECRITURE' %}
			<!--GENERER LA NOTE D'IMPISITION DE LA PERIODE SUIVANTE-->
			<button type="button" title="Générer la note de la période suivante" 
				class="btn {% if obj.is_ecriture_valid %} btn-primary {% else %} btn-secondary {% endif %} btn-sm js-update-entity" 
				data-url="{% url 'ni_allocation_place_marche_create' obj.id %}"
				{% if not obj.is_ecriture_valid %} disabled="disabled" {% endif %}>
				<span class="fa fa-check"></span>
			</button>
		{% endif %}
	</td>
	<td><div align="center">{{ obj | filter_status_validate }}</div></td>
	<td><div>{{ obj.contribuable.nom }}<br><span class='bg bg-dark text-white'>&nbsp;{{ obj.contribuable.matricule }}&nbsp;</span></div></td>
	<td><div align="center">{{ obj.droit_place_marche.nom_marche }}</div></td>
	<td><div align="center"><strong>{{ obj.droit_place_marche.numero_place }}</strong></div></td>
	<td><div class="text-right"><strong>{{ obj.droit_place_marche.cout_place | intcomma }} Bif</strong></div></td>
	<td><div class="text-right"><strong>{{ obj.caution_montant| intcomma }} Bif</strong></div></td>
	<td><div class="text-center">{{ obj.date_debut | date:"d/m/Y" }}</div></td>
	<td>
		<button type="button" title="{% if obj.note %} {{ obj.note }} {% else %} Créer une note {% endif %}"
			class="btn btn-link js-update-entity"
			data-url="{% url 'edit_note' obj.id obj.class_name obj.view_list_name %}">
			{{ obj | show_me:user }}
		</button><!--Envoi et Lecture de la note-->
	</td>
</tr>
{% endfor %}