{% load parametrage_filter %}

<form method="post" enctype="multipart/form-data" action="{% url 'vehicule_transfert_upload' obj.pk %}" class="js-entity-upload-form">
   {% csrf_token %}
  <div class="modal-header">
    <h5 class="modal-title"><i class="fa fa-file-pdf-o"></i>&nbsp;{% if not obj.date_transfert %} Joindre la non redevebilité pour le{% else %} Visualiser ou Télécharger les fichiers du {% endif %} véhicule n°<em>{{ obj.plaque }}</em></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="form-group row">
        <div class="{% if obj.date_transfert %} col-sm-12 {% else %} col-sm-8 {% endif %}" style="border: 1px solid #c2cfd6;"> 
          <a target="_blank" class="nav-link {% if not obj.fichier_non_redevabilite %} disabled-element-normal {% endif %}" href="{{ obj.fichier_non_redevabilite | get_file_upload_url }}">
              {{ obj.fichier_non_redevabilite | get_file_upload:"La non redevabilité" }}
          </a>
        </div>
        <div class="{% if obj.date_validate %} col-sm-0 {% else %} col-sm-4 {% endif %}" id="upload_button">
          <label>
            <input id="id_fichier_non_redevabilite" type="file" class="" name="fichier_non_redevabilite" ngf-select ng-model="new_files" ng-change="fs.uploadFiles(new_files)" {% if obj.date_transfert %} disabled: disabled {% endif %} onchange="getFileUploadName(this, 'fichier_non_redevalite_select');">
            {% if not obj.date_transfert %}
              <span class="btn btn-warning" title="Seléctioner le fichier">
                <span class="span-upload-file" id="fichier_non_redevalite_select"><i class="required_field">*</i>&nbsp;
                    Fichier non redevabilite ...
                </span>
              </span>
            {% endif %}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    {% if not obj.date_transfert %} 
      <button type="submit" class="btn btn-primary"> <i class="fa fa-save"></i>&nbsp;Enregistrer</button>
    {% endif %}
    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-undo"></i>&nbsp;{% if obj.date_validate %} Fermer {% else %} Annuler {% endif %}</button>      
  </div>
</form>