{% extends 'base.html' %}

{% load static %}

{% load activite_filter %}

{% load helper_filter %}

{% block javascript %}
  <script src="{% static 'js/activite.js' %}"></script>
  <script type="text/javascript">
    //Initialiser les dates de la période
    Helpers.DatePicker('am_du'); //Date début
    Helpers.DatePicker('am_au'); //Date fin
  </script>
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">   
      <div class="row">
        <div class="col-sm-9" style="padding-top: 6px;">
            <h4 class="card-title mb-0"><i class="fa fa-cart-plus"></i>&nbsp;Gestion des activités dans les marchés</h4>
        </div>
        <div class="col-sm-3 hidden-sm-down" style="padding-top: 6px;">
          {% if not user.is_superuser %}
            <button type="button" class="btn btn-primary float-right js-create-entity" data-url="{% url 'activite_marche_create' %}" {% if user.is_superuser or request.user|has_group:'IT_ADMIN' or request.user|has_group:'IT_USERS' %} disabled="disabled" title="Vous n'avez pas droit" {% endif %}>
              <i class="fa fa-plus"></i>&nbsp;Créer une activité
            </button>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="card-body" style= "overflow-x:auto; padding-top: 5px;">
      <form method="POST" action="{% url 'activite_marche_list' %}">
        <div class="row">
          <div class="col-sm-4">
            <div class="btn-toolbar float-left" role="toolbar" aria-label="Toolbar with button groups">
              <div>
                <label class="label_search">Du:<input type="text" id="am_du" name="am_du" value="{{ am_du }}" placeholder="" title="Date début" class="form-control search-input"/></label>
                <label class="label_search">Au:<input type="text" id="am_au" name="am_au" value="{{ am_au }}" placeholder="" title="Date fin" class="form-control search-input"/></label>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
              <div>
                <label class="label_search">Référence:<input type="text" name="am_numero_activite" value="{{ am_numero_activite }}" placeholder="..." title="Contenant la référence de l'activité" class="form-control search-input"/></label>
                <label class="label_search">Activité:<input type="text" name="am_nom" value="{{ am_nom }}" placeholder="..." title="Contenant le nom de l'activité" class="form-control search-input"/></label>
                <label class="label_search">Marché:<input type="text" name="am_marche" value="{{ am_marche }}" placeholder="..." title="Contenant le nom du marché" class="form-control search-input"/></label>
                <label class="label_search">Place:<input type="text" name="am_place" value="{{ am_place }}" placeholder="..." title="Contenant le numéro de place" class="form-control search-input"/></label>
                <label class="label_search">Matricule:<input type="text" name="am_contribuable" value="{{ am_contribuable }}" placeholder="..." title="Contenant le matricule du contribuable" class="form-control search-input"/></label>
                <label class="label_search">Nom:<input type="text" name="am_contribuable_nom" value="{{ am_contribuable_nom }}" placeholder="..." title="Contenant le nom du contribuable" class="form-control search-input"/></label>
                <label class="label_search">Utilisateur:<input type="text" name="am_user_create" value="{{ am_user_create }}" placeholder="..." title="Crée par" class="form-control search-input"/></label>
                <label class="label_search">
                  Status:
                  <select name="am_status" class="form-control search-input">
                    <option value="0">...</option>
                    <option value="1" {% if am_status == '1' %} selected='selected' {% endif %}>Validée</option>
                    <option value="2" {% if am_status == '2' %} selected='selected' {% endif %}>En attente</option>
                  </select> 
                </label>
                <label><button type="submit" id="btn_search" title="Rechercher/Actualiser" class="btn btn-primary btn-sm search-button"><i class="fa fa-search"></i></button></label>
<!--                <label>&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" id="btn_excel" title="Genere excel" class="btn btn-sm btn-success"><i class="fa fa-file-excel-o"></i>&nbsp;Generer excel</button></label>-->
              </div>
            </div>
          </div>
        </div>
      </form>
      <table class="table table-hover table-bordered table-striped table-outline mb-0 nowrap" id="entity-table" width="100%" cellspacing="0">
        <thead class="thead-default">
          <tr>
            <th class="text-center"></th>
            <th class="text-center">Action</th>
            <th class="text-center">Status</th>
            <th class="text-center">Référence</th>
            <th class="text-center">Matière imposable</th>
            <th class="text-center">Contribuable</th>
            <th class="text-center">Marché</th>
            <th class="text-center">Montant</th>
            <th class="text-center">Solde départ</th>
            <th class="text-center">Date</th>
            <th class="text-center">Crée par</th>
          </tr>
        </thead>
        <tbody>
          {% include 'activite_marche/includes/_activite_marche_list.html' %}          
        </tbody>
      </table>
      {% include 'paginator.html' %}
    </div>
    <div class="card-footer">{{ lst | nombre_enreg_by_user:user }}</div>
  </div>
{% endblock %}