{% block javascript %}
  <script type="text/javascript">
    $(document).ready(function(){
      //Autocomplete Adresse (Commune - Zone - Quartier)
      $( "#id_auto_adresse" ).autocomplete({
        'minLength':3,
        source: "/parametrage/adresse/zone/autocomplete/",
        appendTo: idModalEntity,
        select: function(event, ui) {
            event.preventDefault();
            $(this).val(ui.item.label); 
            $("#id_adresse").val(ui.item.value); 
        },
        focus: function(event, ui) {
            event.preventDefault();                    
            $(this).val(ui.item.label);
        },
      });

      //Rue ou Avenue autocomplete
      jQuery('#id_auto_numero_rueavenue').autocomplete({
        'search':function(event,ui){
            var newUrl="/parametrage/adresse/zone/quartier/"+$("#id_adresse").val()+"/rue_avenue/autocomplete/";
            $(this).autocomplete("option", "source", newUrl)
        },
        'minLength':1,
        appendTo: idModalEntity,
        select: function(event, ui) {
          event.preventDefault();
          $(this).val(ui.item.label); 
          $("#id_numero_rueavenue").val(ui.item.value);
        },
        focus: function(event, ui) {
          event.preventDefault();                    
          $(this).val(ui.item.label);
        },
        'source':[]
      });
    });
  </script>
{% endblock %}

{% load foncier_filter %}

{% load widget_tweaks %}

<div class="container">
  <div class="row"> 
    <div class="form-group col-sm-3">
      <i class="required_field">*</i>
      <label for="{{ form.numero_parcelle.id_for_label }}">{{ form.numero_parcelle.label_tag }}</label>
      {% render_field form.numero_parcelle  class+="form-control" %}
      <p class="help-inline"><small><em class="help-inline-ext">[{{ form.numero_parcelle.help_text }}]</em></small></p>
    </div>

    <div class="form-group col-sm-6">
      <i class="required_field">*</i>
      <label for="{{ form.adresse.id_for_label }}">{{ form.adresse.label_tag }}</label>  
      <input type="text" name="auto_adresse" placeholder="Chercher adresse..." class="form-control {% if form.instance.date_validate %} disabled-element {% endif %}" id="id_auto_adresse" value="{{form.instance.adresse}}"/>
      <input type="hidden" name="adresse" class="form-control" required="" id="id_adresse" value="{{form.instance.adresse.id}}" />
      <p class="help-inline"><small><em class="help-inline-ext">[{{ form.adresse.help_text }}]</em></small></p>
    </div>
    
     <div class="form-group col-sm-3">
      <i class="required_field">*</i>
      <label for="{{ form.numero_rueavenue.id_for_label }}">{{ form.numero_rueavenue.label_tag }}</label>  
      <input type="text" name="auto_numero_rueavenue" placeholder="Chercher ..." class="form-control {% if form.instance.date_validate %} disabled-element {% endif %}" id="id_auto_numero_rueavenue" value="{{ form.instance.numero_rueavenue | default:'' }}"/>
      <input type="hidden" name="numero_rueavenue" class="form-control" required="" id="id_numero_rueavenue" value="{{form.instance.numero_rueavenue.id}}" />
      <p class="help-inline"><small><em class="help-inline-ext">[{{ form.numero_rueavenue.help_text }}]</em></small></p>
    </div>
  </div>  

  <div class="row">
    <div class="form-group col-sm-9">
      <label for="{{ form.adresse_precise.id_for_label }}">{{ form.adresse_precise.label_tag }}</label>
      {% render_field form.adresse_precise  class+="form-control" %}
      <p class="help-inline"><small><em class="help-inline-ext">[{{ form.adresse_precise.help_text }}]</em></small></p>
    </div>
    
    <div class="form-group col-sm-3">
      <label for="{{ form.occupee.id_for_label }}">{{ form.occupee.label_tag }}</label>
      <input name="occupee" class="form-control" required="" id="id_occupee" value="{{ form.instance.occupee | foncier_bool }}" disabled="disabled" />
      <p class="help-inline"><small><em class="help-inline-ext">[{{ form.occupee.help_text }}]</em></small></p>
    </div>
  </div>
</div>