{% load foncier_filter %}

<form method="post" action="{% url 'foncier_parcelle_publique_update' form.instance.pk %}" class="js-entity-update-form">
   {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title"><i class="fa fa-map-marker"></i>&nbsp;{% if form.instance.date_validate %} Informations {% else %} Mettre à jour l'information {% endif %} de l'espace public {{ form.instance.note | show_note }}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
     {% include 'foncier_parcelle_publique/includes/_foncier_parcelle_publique_form.html' %}
  </div>
  <div class="modal-footer">
    {% if not form.instance.date_validate %} 
        <button type="button" class="btn btn-success" onclick="_Validate('{{form.instance.pk }}', 'validate/', 'Êtes-vous sûr de vouloir valider ce formulaire ?')"> <i class="fa fa-check"></i>&nbsp;Valider</button>
        <button type="submit" class="btn btn-primary"> <i class="fa fa-save"></i>&nbsp;Enregistrer</button>
    {% else %}
      <span class='bg bg-success' align="right">&nbsp;Validée le {{ form.instance.date_validate }}&nbsp;</span>
    {% endif %}
    <button type="button" class="btn btn-secondary" data-dismiss="modal">
      <i class="{% if not form.instance.date_validate %} fa fa-undo {% else %} fa fa-close {% endif %}"></i>&nbsp;{% if not form.instance.date_validate %} Annuler {% else %} Fermer {% endif %} 
    </button>
  </div>
</form>