{% load static %}
 
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="GDAF">
    <meta name="author" content="yzy solutions">
    <meta name="keyword" content="Mairie, burundi">
    <link rel="shortcut icon" href="{% static '/img/favicon.png' %}">

    <title>GDAF</title>

    <!-- Core CSS - Include with every page -->
    <!-- <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet"> -->

    <!-- Icons -->
    <link href="{% static '/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static '/css/simple-line-icons.css' %}" rel="stylesheet">

    <!-- Main styles for this application -->
    <link href="{% static '/css/style.css' %}" rel="stylesheet">

    <!-- jquery ui , auto complete -->
    <link href="{% static '/css/jquery-ui.min.css' %}" rel="stylesheet">

    <!-- jquery datatable -->
    <link href="{% static '/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static '/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/css/buttons.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static '/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">

    <style type="text/css">
        /*BABE 2018.02.27 : garder le style de certains champs de saisie comme éditable en mode readonly*/ 
        input[readonly].normal{
          background-color:transparent;
          border: 1;
          font-size: 1em;
        }
    </style>
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
    {% include 'header.html' %} 

    <div class="app-body">        
        <!-- PASSER EN PARAMETRE LES AVIS -->
        {% include 'sidebar.html' with TAXE_AI_AUTRE=0 TAXE_AI_ADMINISTRATIF=1 TAXE_AI_DOCUMENT_FINANCIER=2 TAXE_BASE_ACTIVITE=3 TAXE_ACTIVITE_EXCEPTIONNELLE=4 TAXE_VISITE_SITE_TOURISTIQUE=5 %}
        <!-- Main content -->
        <main class="main">
            <!-- Breadcrumb sitmemap-->
            <div class="container-fluid">
                <div class="animated fadeIn">                   
                   {% block content %}{% endblock %}
                </div>
            </div>
            <!-- /.container-fluid -->
        </main>

        <aside class="aside-menu">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#messages" role="tab" title="Suivre les notifications"><i class="icon-speech"></i></a>
                </li>
            </ul>

            <!-- Tab Messages (Notification) -->
            <div class="tab-content">
                <div class="tab-pane p-3 active" id="messages" role="tabpanel">
                    {% block message %}
                        <!--MESSAGE SIMPLE-->
                        {% include 'aside_note.html' %} 
                    {% endblock %}
                </div>
            </div>
        </aside>
    </div>
    {% include 'modal.html' %} 
    {% include 'footer.html' %} 

     <!-- Bootstrap and necessary plugins -->
    <script src = "{% static 'js/library/jquery.min.js' %}"></script>
    <script src = "{% static 'js/library/popper.min.js' %}"></script>
    <script src = "{% static 'js/library/bootstrap.min.js' %}"></script>   
    <script src = "{% static 'js/library/pace.min.js' %}"></script>
    <!-- Plugins and scripts required by all views -->
    <!--<script src = "{% static 'js/library/chart.min.js' %}"></script>-->
    <script src = "{% static 'js/library/screenfull.min.js' %}"></script>    
       <!--  app scripts -->
    <script src = "{% static 'js/library/jquery-ui.min.js' %}"></script>
    
    <!--  app scripts -->
    <script src = "{% static 'js/app.js' %}"></script>
    <!--  helpers generic scripts -->
    <script src = "{% static 'js/helpers.js' %}"></script>

    <!-- jquery datatable -->
    <script src = "{% static 'js/library/jquery.dataTables.min.js' %}"></script>

    <script src = "{% static 'js/library/dataTables.buttons.min.js' %}"></script>
    <script src = "{% static 'js/library/buttons.flash.min.js' %}"></script>
    <script src = "{% static 'js/library/jszip.min.js' %}"></script>
    <script src = "{% static 'js/library/pdfmake.min.js' %}"></script>
    <script src = "{% static 'js/library/vfs_fonts.js' %}"></script>
    <script src = "{% static 'js/library/buttons.html5.min.js' %}"></script>
    <script src = "{% static 'js/library/buttons.print.min.js' %}"></script>

    <script src = "{% static 'js/library/dataTables.bootstrap.min.js' %}"></script>
    <script src = "{% static 'js/library/dataTables.fixedHeader.min.js' %}"></script>
    <script src = "{% static 'js/library/dataTables.responsive.min.js' %}"></script>
    <script src = "{% static 'js/library/responsive.bootstrap.min.js' %}"></script>


    {% block javascript %}
    {% endblock %}
      
</body>
</html>