{% extends 'base.html' %}

{% load static %}

{% load reporting_filter %}

{% load mathfilters %}

{% load humanize %} 

{% block javascript %}
  <script type="text/javascript">
    //Initialiser les dates de la période
    Helpers.DatePicker('module_resume_du'); //Date début
    Helpers.DatePicker('module_resume_au'); //Date fin

    //Initialiser les dates
    date_du = $('#module_resume_du').val();
    if (date_du == "")
      $('#module_resume_du').val($.GetNewYearToDateFr());

    date_au = $('#module_resume_au').val();
    if (date_au == "")
      $('#module_resume_au').val($.GetDateTodayFr());

  </script>
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">   
        <div class="row">
          <div class="col-sm-6 text-left" style="padding-top: 6px;">
            <h4 class="card-title mb-0"><i class="fa fa-map-o"></i>&nbsp;Reporting / Résumés des modules</h4>
          </div>
          <div class="col-sm-6 text-right" style="padding-top: 6px;">
            <form method="POST" action="{% url 'report_module_resume' %}">
              <label class="label_date"><input type="text" id="module_resume_du" name="module_resume_du" value="{{ module_resume_du }}" title="Date du jour" class="form-control search-input" placeholder="Du"/></label>
              <label class="label_date"><input type="text" id="module_resume_au" name="module_resume_au" value="{{ module_resume_au }}" title="Date du jour" class="form-control search-input" placeholder="Au"/></label>
              <label>
                <button type="submit" id="btn_search" title="Rechercher/Actualiser" class="btn btn-primary btn-sm search-button"><i class="fa fa-search"></i></button>
                <a href="{% url 'report_module_resume_print_pdf' %}" target="_blank" class="btn btn-primary btn-sm" title="Imprimer le résultat"><span class="fa fa-print"></span></a>
              </label>
            </form>
          </div>
        </div>
    </div>
    <div class="card-body">
      <table class="table table-hover table-bordered table-striped table-outline mb-0 nowrap" id="entity-table" width="100%" cellspacing="0">
        <thead class="thead-default">
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Modules</th>
            <th class="text-center">Déclarants</th>
            <th class="text-center">Physiques</th>
            <th class="text-center">Morales</th>
            <th class="text-center">Notes imposées</th>
            <th class="text-center">Notes Payées</th>
            <th class="text-center">Notes Impayées</th>
            <th class="text-center">Total Imposé</th>
            <th class="text-center">Total Recette</th>
            <th class="text-center">Total Impayé</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in lst %}
            <tr>
              <td align="right"></td>
              <td align="left" class="{% if forloop.counter == count %} text-info {% endif %}"><strong>{{ obj.module }}</strong></td>
              <td align="right" class="{% if forloop.counter == count %} somme {% endif %}">{{ obj.nbr_declarant | floatformat:"0" | intcomma  }}</td>
              <td align="right" class="{% if forloop.counter == count %} somme {% endif %}">{{ obj.nbr_phyique | floatformat:"0" | intcomma  }}</td>
              <td align="right" class="{% if forloop.counter == count %} somme {% endif %}">{{ obj.nbr_morale | floatformat:"0" | intcomma  }}</td>
              <td align="right" class="{% if forloop.counter == count %} somme {% endif %}">{{ obj.nbr_note_imposee | floatformat:"0" | intcomma }}</td>
              <td align="right" class="{% if forloop.counter == count %} somme {% endif %}">{{ obj.nbr_recette | floatformat:"0" | intcomma }}</td>
              <td align="right" class="{% if forloop.counter == count %} somme {% endif %}">{{ obj.nbr_note_impayee | floatformat:"0" | intcomma }}</td>
              <td align="right" class="{% if forloop.counter == count %} somme {% endif %} text-success">{{ obj.total_imposee | floatformat:"0" | intcomma }}</td>
              <td align="right" class="{% if forloop.counter == count %} somme {% endif %} text-primary">{{ obj.total_recette | floatformat:"0" | intcomma }}</td>
              <td align="right" class="{% if forloop.counter == count %} somme {% endif %} text-danger">{{ obj.total_impayee | floatformat:"0" | intcomma }}</td>
            </tr>
          {% endfor %}  
        </tbody>
      </table>
    </div>
    <div class="card-footer"></div>
  </div>
{% endblock %}