{% block javascript %}
  <script type="text/javascript">
    
      //Date picker : date de paiement
      Helpers.DatePicker('id_date_paiement');

      //Mettre le nom en majiscule
      To_Majiscule('#id_ref_paiement');
  </script>
{% endblock %}

{% load widget_tweaks %}

<div class="container"> 
  <div class="row"> 
    <div class="form-group col-sm-6">
      <i class="required_field">*</i>
      <label for="{{ form.montant_total.id_for_label }}">{{ form.montant_total.label_tag }}</label>
      {% render_field form.montant_total class+="form-control" %}
      {% if form.montant_total.help_text %}
        <p class="help-inline"><small><em class="help-inline-ext">[{{ form.montant_total.help_text }}]</em></small></p>
      {% endif %}
    </div>

    <div class="form-group col-sm-3">
      <i class="required_field">*</i>
      <label for="{{ form.montant_tranche.id_for_label }}">{{ form.montant_tranche.label_tag }}</label>
      {% render_field form.montant_tranche class+="form-control" %}
      {% if form.montant_tranche.help_text %}
        <p class="help-inline"><small><em class="help-inline-ext">[{{ form.montant_tranche.help_text }}]</em></small></p>
      {% endif %}
    </div>

    <div class="form-group col-sm-3">
      <i class="required_field">*</i>
      <label for="{{ form.montant_excedant.id_for_label }}">{{ form.montant_excedant.label_tag }}</label>
      {% render_field form.montant_excedant class+="form-control" %}
      {% if form.montant_excedant.help_text %}
        <p class="help-inline"><small><em class="help-inline-ext">[{{ form.montant_excedant.help_text }}]</em></small></p>
      {% endif %}
    </div>
  </div>
  
  <div class="row"> 
    <div class="form-group col-sm-4">
      <i class="required_field">*</i>
      <label for="{{ form.agence.id_for_label }}">{{ form.agence.label_tag }}</label>
      {% render_field form.agence class+="form-control" %}
      {% if form.agence.help_text %}
        <p class="help-inline"><small><em class="help-inline-ext">[{{ form.agence.help_text }}]</em></small></p>
      {% endif %}
    </div>

    <div class="form-group col-sm-5">
      <i class="required_field">*</i>
      <label for="{{ form.ref_paiement.id_for_label }}">{{ form.ref_paiement.label_tag }}</label>
      {% render_field form.ref_paiement class+="form-control" %}
      {% if form.ref_paiement.help_text %}
        <p class="help-inline"><small><em class="help-inline-ext">[{{ form.ref_paiement.help_text }}]</em></small>
        </p>
      {% endif %}
    </div>

    <div class="form-group col-sm-3">
      <i class="required_field">*</i>
      <label for="{{ form.date_paiement.id_for_label }}">{{ form.date_paiement.label_tag }}</label>
      {% render_field form.date_paiement class+="form-control" %}
      {% if form.date_paiement.help_text %}
        <p class="help-inline"><small><em class="help-inline-ext">[{{ form.date_paiement.help_text }}]</em></small></p>
      {% endif %}
    </div>
  </div>
</div>