{% load parametrage_filter %}

<form method="post" enctype="multipart/form-data" action="{% url 'activite_standard_upload' obj.pk %}" class="js-entity-upload-form">
   {% csrf_token %}
  <div class="modal-header">
    <h5 class="modal-title"><i class="fa fa-file-pdf-o"></i>&nbsp;{% if not obj.date_validate %} Joindre le fichier pour {% else %} Visualiser ou Télécharger le fichier de {% endif %} l'activité n°<em>{{ obj.numero_activite }}</em></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="form-group row">
        <div class="{% if obj.date_validate %} col-sm-12 {% else %} col-sm-8 {% endif %}" style="border: 1px solid #c2cfd6;"> 
            <a target="_blank" class="nav-link {% if not obj.fichier_autorisation %} disabled-element-normal {% endif %}" href="{{ obj.fichier_autorisation | get_file_upload_url }}">{{ obj.fichier_autorisation | get_file_upload:"L'autorisation du ministère"  }}</a>               
        </div>
        <div class="{% if obj.date_validate %} col-sm-0 {% else %} col-sm-4 {% endif %}" id="upload_button">
          <label>
            <input id="id_fichier_autorisation" type="file" class="" name="fichier_autorisation" ngf-select ng-model="new_files" ng-change="fs.uploadFiles(new_files)" {% if obj.date_validate %} disabled: disabled {% endif %} onchange="getFileUploadName(this, 'fichier_autorisation_select');">
            {% if not obj.date_validate %}
              <span class="btn btn-warning" title="Seléctioner le fichier">
                 <span class="span-upload-file" id="fichier_autorisation_select"><i class="required_field">*</i>&nbsp;Fichier contrat ...</span>
              </span>
            {% endif %}
          </label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      {% if not obj.date_validate %} 
        <button type="submit" class="btn btn-primary"> <i class="fa fa-save"></i>&nbsp;Enregistrer</button>
      {% endif %}
      <button type="button" class="btn btn-secondary" data-dismiss="modal"> <i class="fa fa-undo"></i>&nbsp;{% if obj.date_validate %} Fermer {% else %} Annuler {% endif %}</button>      
    </div>
  </div>
</form>