{% block javascript %}
  <script type="text/javascript">
    $(document).ready(function(){
      //Auto complete contribuable
      $( "#id_auto_contribuable" ).autocomplete({
        'minLength':3,
        source: "/crm/contribuable/autocomplete/",
        appendTo: idModalEntity,
        select: function(event, ui) {
            event.preventDefault();
            $(this).val(ui.item.label); 
            $("#id_contribuable").val(ui.item.value);                
        },
        focus: function(event, ui) {
            event.preventDefault();                    
            $(this).val(ui.item.label);
        }
      });
  
      //Autocomplete : Recherche d'une taxe sur activité marché (Modèl : Taxe)
      $("#id_auto_taxe").autocomplete({
          source: "/finance/taxe_activite/autocomplete",
          'minLength':1,
          appendTo: idModalEntity,
          select: function (event, ui) {
              event.preventDefault();
              $(this).val(ui.item.label);
              $("#id_taxe").val(ui.item.value);
          },
          focus: function (event, ui) {
              event.preventDefault();
              $(this).val(ui.item.label);
          }
      });

      //Autocompletion de l'allocation de l'espace/parcelle publique non occupée et validée
      $( "#id_auto_allocation_espace_publique" ).autocomplete({
        'minLength':3,
        source: "/activite/allocation_parcelle_publique/autocomplete/",
        appendTo: idModalEntity,
        select: function(event, ui) {
          event.preventDefault();
          $(this).val(ui.item.label); 
          $("#id_allocation_espace_publique").val(ui.item.value);
          
          // Reloader le contribuable et l'adresse et rue_avenue de l'allocation selectionnée
          $("#id_contribuable").val(ui.item.contribuable_id);
          $("#id_auto_contribuable").val(ui.item.acontribuable_label);

          $("#id_adresse").val(ui.item.adresse_id);
          $("#id_auto_adresse").val(ui.item.adresse_label);

          $("#id_numero_rueavenue").val(ui.item.numero_rueavenue_id);
          $("#id_auto_numero_rueavenue").val(ui.item.numero_rueavenue_label);
        },
        focus: function(event, ui) {
          event.preventDefault();                    
          $(this).val(ui.item.label);
        }
      });

      //Autocomplete Adresse (Commune - Zone - Quartier)
      $( "#id_auto_adresse" ).autocomplete({
        'minLength':3,
        source: "/parametrage/adresse/zone/autocomplete/",
        appendTo: idModalEntity,
        select: function(event, ui) {
            event.preventDefault();
            $(this).val(ui.item.label); 
            $("#id_adresse").val(ui.item.value); 
        },
        focus: function(event, ui) {
            event.preventDefault();                    
            $(this).val(ui.item.label);
        },
      });

      //Rue ou Avenue autocomplete
      jQuery('#id_auto_numero_rueavenue').autocomplete({
        'search':function(event,ui){
            var newUrl="/parametrage/adresse/zone/quartier/"+$("#id_adresse").val()+"/rue_avenue/autocomplete/";
            $(this).autocomplete("option", "source", newUrl)
        },
        'minLength':1,
        appendTo: idModalEntity,
        select: function(event, ui) {
          event.preventDefault();
          $(this).val(ui.item.label); 
          $("#id_numero_rueavenue").val(ui.item.value);
        },
        focus: function(event, ui) {
          event.preventDefault();                    
          $(this).val(ui.item.label);
        },
        'source':[]
      });
      
      //!!! IMPOTANT POUR LA VALIDATION -> Forcer la désactivation (Ceci est dû à l'event OnTypeEspaceChange())!!!
      {% if form.instance.date_validate %}
        $('#id_auto_contribuable').attr("disabled", true);
        $('#id_auto_adresse').attr("disabled", true);
        $('#id_auto_numero_rueavenue').attr("disabled", true);
        $('#id_numero_police').attr("disabled", true);
      {% endif %}
    });

    //Date picker : date debut activité
    Helpers.DatePicker('id_date_debut');

    //Mettre le numero de police en majiscule
    To_Majiscule('#id_numero_police');
  </script>
{% endblock %}

{% load widget_tweaks %}

<div class="container">
  <div class="row"> 
    <div class="form-group col-sm-3">
      <label for="{{ form.numero_activite.id_for_label }}">{{ form.numero_activite.label_tag }}</label>
      {% render_field form.numero_activite  class+="form-control" %}
      <p class="help-inline"><small><em class="help-inline-ext">[{{ form.numero_activite.help_text }}]</em></small></p>
    </div>

    <div class="form-group col-sm-3">
      <i class="required_field">*</i>
      <label for="{{ form.type_espace.id_for_label }}">{{ form.type_espace.label_tag }}</label>       
      {% render_field form.type_espace  class+="form-control" %}
      <p class="help-inline"><small><em class="help-inline-ext">[{{ form.type_espace.help_text }}]</em></small></p>
    </div>

    <div class="form-group col-sm-3">
      <i class="required_field">*</i>
      <label for="{{ form.date_debut.id_for_label }}">{{ form.date_debut.label_tag }}</label>
      {% render_field form.date_debut class+="form-control" %}
      <p class="help-inline"><small><em class="help-inline-ext">[{{ form.date_debut.help_text }}]</em></small></p>
    </div>

     <div class="form-group col-sm-3">
      <label for="{{ form.solde_depart.id_for_label }}">{{ form.solde_depart.label_tag }}</label>
      {% render_field form.solde_depart class+="form-control" %}
      {% if form.solde_depart.help_text %}
        <p class="help-inline"><small><em class="help-inline-ext">[{{ form.solde_depart.help_text }}]</em></small></p>
      {% endif %}
    </div>
  </div>    

  <div class="row">
    <div class="form-group col-sm-12">
      <i class="required_field" id="allocation_required">*</i>
      <label for="{{ form.allocation_espace_publique.id_for_label }}">{{ form.allocation_espace_publique.label_tag }}</label>  
      <input type="text" name="auto_allocation_espace_publique" placeholder="Chercher le contrat d'allocation de l'espace publique..." class="form-control" id="id_auto_allocation_espace_publique" value="{{form.instance.allocation_espace_publique | default:'' }}" {% if form.instance.date_validate %} disabled="disabled" {% endif %}/>
      <input type="hidden" name="allocation_espace_publique" class="form-control" required="" id="id_allocation_espace_publique" value="{{form.instance.allocation_espace_publique.id}}"/>
      <p class="help-inline"><small><em class="help-inline-ext">[{{ form.allocation_espace_publique.help_text }}]</em></small></p>
    </div>
  </div> 

  <div class="row">
    <div class="form-group col-sm-12">
      <i class="required_field" id="contribuable_required">*</i>
      <label for="{{ form.contribuable.id_for_label }}">{{ form.contribuable.label_tag }}</label>  
      <input type="text" name="auto_contribuable" placeholder="Chercher le contribuable..." class="form-control" id="id_auto_contribuable" value="{{form.instance.contribuable}}" {% if form.instance.date_validate %} disabled="disabled" {% endif %}/>
      <input type="hidden" name="contribuable" class="form-control" required="" id="id_contribuable" value="{{form.instance.contribuable.id}}"/>
      <p class="help-inline"><small><em class="help-inline-ext">[{{ form.contribuable.help_text }}]</em></small></p>
    </div>
  </div>

  <div class="row">
     <div class="form-group col-sm-6">
      <i class="required_field" id="adresse_required">*</i>
      <label for="{{ form.adresse.id_for_label }}">{{ form.adresse.label_tag }}</label>  
      <input type="text" name="auto_adresse" placeholder="Chercher adresse..." class="form-control" id="id_auto_adresse" value="{{ form.instance.adresse }}"  {% if form.instance.date_validate %} disabled="disabled" {% endif %} />
      <input type="hidden" name="adresse" class="form-control" required="" id="id_adresse" value="{{form.instance.adresse.id}}" />
      <p class="help-inline"><small><em class="help-inline-ext">[{{ form.adresse.help_text }}]</em></small></p>
    </div>

    <div class="form-group col-sm-3">
      <i class="required_field" id="numero_rueavenue_required">*</i>
      <label for="{{ form.numero_rueavenue.id_for_label }}">{{ form.numero_rueavenue.label_tag }}</label>  
      <input type="text" name="auto_numero_rueavenue" placeholder="Chercher ..." class="form-control" id="id_auto_numero_rueavenue" value="{{ form.instance.numero_rueavenue }}"  {% if form.instance.date_validate %} disabled="disabled" {% endif %} />
      <input type="hidden" name="numero_rueavenue" class="form-control" required="" id="id_numero_rueavenue" value="{{form.instance.numero_rueavenue.id}}" />
      <p class="help-inline"><small><em class="help-inline-ext">[{{ form.numero_rueavenue.help_text }}]</em></small></p>
    </div>

    <div class="form-group col-sm-3">
      <label for="{{ form.numero_police.id_for_label }}">{{ form.numero_police.label_tag }}</label>
      {% render_field form.numero_police  class+="form-control" %}
      <p class="help-inline"><small><em class="help-inline-ext">[{{ form.numero_police.help_text }}]</em></small></p>
    </div> 
  </div>

  <div class="row">
    <div class="form-group col-sm-12">
      <i class="required_field">*</i>
      <label for="{{ form.taxe.id_for_label }}">{{ form.taxe.label_tag }}</label>
      <input type="text" name="auto_taxe" placeholder="Chercher l'activité par code, libellé..." class="form-control" id="id_auto_taxe" value="{{form.instance.taxe}}" {% if form.instance.date_validate %} disabled="disabled" {% endif %}/>
      <input type="hidden" name="taxe" class="form-control" required="" id="id_taxe" value="{{form.instance.taxe.id}}" />
      <p class="help-inline"><small><em class="help-inline-ext">[{{ form.taxe.help_text }}]</em></small></p>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-12">
      <i class="required_field">*</i>
      <label for="{{ form.ai_cout_carte.id_for_label }}">{{ form.ai_cout_carte.label_tag }}</label>
      {% render_field form.ai_cout_carte  class+="form-control" %}
       <p class="help-inline"><small><em class="help-inline-ext">[{{ form.ai_cout_carte.help_text }}]</em></small></p>
    </div>
  </div>
</div>