{% load parametrage_filter %}
<form method="post" enctype="multipart/form-data" action="{% url 'vehicule_carte_municipale_upload' obj.pk %}" class="js-entity-upload-form">
   {% csrf_token %}
  <div class="modal-header">
    <h5 class="modal-title"><i class="fa fa-file-pdf-o"></i>&nbsp;{% if not obj.date_validate %} Joindre le fichier de l' {% else %} Visualiser ou Télécharger le fichier de l' {% endif %} activité n°<em>{{ obj.activite.numero_activite }}</em></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="form-group row">
        <div class="{% if obj.date_validate %} col-sm-12 {% else %} col-sm-8 {% endif %}" style="border: 1px solid #c2cfd6;"> 
          <a target="_blank" class="nav-link {% if not obj.fichier_cart_minispal %} disabled-element-normal {% endif %}" href="{{ obj.fichier_cart_minispal | get_file_upload_url }}">{{ obj.fichier_cart_minispal | get_file_upload:"carte d'activité de transport" }}</a>
        </div>
        <div class="{% if obj.date_validate %} col-sm-0 {% else %} col-sm-4 {% endif %}" id="upload_button">
          <label>
            <input id="id_fichier_carte_municipale_image" type="file" class="" name="fichier_carte_municipale_image" ngf-select ng-model="new_files" ng-change="fs.uploadFiles(new_files)" {% if obj.date_validate %} disabled: disabled {% endif %} onchange="getFileUploadName(this, 'dossier_carte_select');">
            {% if not obj.date_validate %}
              <span class="btn btn-warning" title="Seléctioner le fichier">
                 <span class="span-upload-file" id="dossier_carte_select"><i class="required_field">*</i>&nbsp;carte municipale ...</span>
              </span>
            {% endif %}
          </label>
        </div>
      </div>          
    </div>
  </div>
  <div class="modal-footer">
    {% if not obj.date_validate %}
      <button type="submit" class="btn btn-primary"> <i class="fa fa-save"></i>&nbsp;Enregistrer</button>
    {% endif %}
    <button type="button" class="btn btn-secondary" data-dismiss="modal"> <i class="fa fa-undo"></i>&nbsp;
  Annuler</button>      
  </div>
</form>