<form method="post" action="{% url 'foncier_parcelle_create_expertise' form.instance.parcelle.id %}" class="js-entity-upload-form">
   {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title"><i class="fa fa-map-o"></i>&nbsp;Créer une nouvelle expertise privée</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
     {% include 'foncier_expertise/includes/_foncier_expertise_form.html' %}
  </div>
  <div class="modal-footer">
     <span class="alert-warning" style="width:100%; padding-left: 5px;"><i class="fa fa-warning"></i>&nbsp;Une fois enregistré, veuillez valider ce dernier dans le menu expertise</span>
    <button type="submit" class="btn btn-primary"> <i class="fa fa-save"></i>&nbsp;Enregistrer</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal"> <i class="fa fa-undo"></i>&nbsp;Annuler</button>      
  </div>
</form>