{% block javascript %}
  <script type="text/javascript">    
    function AjouterCaracteristique(idExpertise){
      var idImpot = $("#id_impot_batie").val()
      var idSuperficieBatie = $("#id_superficie_batie").val()
      
      if(idImpot === ""){
        return ShowMessageFadeIn("&nbsp; Veuillez choisir une construction &nbsp;");
        //return Helpers.ShowMessageAlert("Veuillez choisir une construction", null);
      }  

      if(idSuperficieBatie === ""){
        return ShowMessageFadeIn("&nbsp; La superficie est obligatoire &nbsp;");
        //return Helpers.ShowMessageAlert("La superficie est obligatoire", null);
      }

      if(idSuperficieBatie <= 0){
        return ShowMessageFadeIn("&nbsp; La superficie doit être positive &nbsp;");
        //return Helpers.ShowMessageAlert("La superficie doit être positive");
      }

      //console.log("idExpertise > " + idExpertise);
      //console.log("idImpot > " + idImpot);
      //console.log("idSuperficieBatie > " + idSuperficieBatie);
      PerformAjouterCaracteristique(idExpertise, idImpot, idSuperficieBatie);

      // Reinitiliser les champs de qaisie
      $("#id_impot_batie").val('');
      $("#id_superficie_batie").val(0);
    }

    function PerformAjouterCaracteristique(idExpertise, idImpot, idSuperficieBatie){   
      $.ajax({
        url : "caracteristique_add/",
        type : "POST",
        data : {"idExpertise" : idExpertise, "idImpot": idImpot, "idSuperficieBatie" : idSuperficieBatie},
        dataType : "json",
        success : function(data){
            $("#id-construction-entity-table" + " tbody").html(data.html_content_list);              
          }
      });
    }  

    function SupprimerCaracteristique(idExpertise, idCaracteristique){
      //console.log("idExpertise > " + idExpertise);
      //console.log("idCaracteristique > " + idCaracteristique);
      PerformSupprimerCaracteristique(idExpertise, idCaracteristique);
    }  
    
    function PerformSupprimerCaracteristique(idExpertise, idCaracteristique){   
      $.ajax({
        url : "caracteristique_delete/",
        type : "POST",
        data : {"idExpertise" : idExpertise, "idCaracteristique": idCaracteristique},
        dataType : "json",
        success : function(data){
            $("#id-construction-entity-table" + " tbody").html(data.html_content_list).promise().done(function(){
              //vider les champs après ajout
              $("#id_superficie_batie").val("");
              $("#id_impot_batie").val("");
            });              
          }
      });
    } 
  </script>
{% endblock %}

{% load parametrage_filter %}

{% load foncier_filter %}

{% load widget_tweaks %}

<form>
   {% csrf_token %}
  <div class="modal-header">
    <h5 class="modal-title"><i class="fa fa-map-o"></i>&nbsp;Caractéristiques des batiments de la parcelle n°{{ objPar.parcelle.numero_parcelle }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <!--Afficher l'accesibilté de la parcelle-->
      <h5 style="font-size: 16px; color: #000;"><strong>Accessibilité: </strong><em style="color: #ea5e21;">{{ objPar.parcelle.adresse }} - {{ objPar.parcelle.numero_rueavenue }}{{ objPar.parcelle.numero_police | get_numero_police }} - <strong>{{ objPar.parcelle.accessibilite }}</strong></em></h5>
      {% if not objPar.date_validate %}
        <div class="container">
          <div class="form-group row bg-light" style="padding-top: 5px;">
            <div class="form-group col-sm-3">
              <p>
                <label for="{{ form.superficie_batie.id_for_label }}">{{ form.superficie_batie.label_tag }}</label>
                {% render_field form.superficie_batie class+="form-control" %}
              </p>
            </div>
            <div class="form-group col-sm-8">
              <p>
                <label for="{{ form.impot_batie.id_for_label }}">{{ form.impot_batie.label_tag }}</label>
                {% render_field form.impot_batie class+="form-control" %}
              </p>
            </div>
            <div class="form-group col-sm-1" style="padding-top: 18px; padding-bottom: 18px;">
              <button type="button" title="Ajouter une caractéristique" 
                {% if objPar.date_validate is None %} enabled='enabled' {% else %} disabled='disabled' {% endif %}
                class="btn btn-success float-right" onclick="AjouterCaracteristique('{{ objPar.id }}')" {% if objPar.user_create != user %} enabled {% endif %}>
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div> 
        </div>
      {% endif %}
      <br>
      <div class="form-group row">
        <div class="form-group col-sm-12" style="max-height: 300px; overflow-y: auto;">
          <table class="table table-hover table-bordered table-striped table-outline mb-0 nowrap" id="id-construction-entity-table" width="100%" cellspacing="0">
            <thead class="thead-default">
              <tr>
                <th class="text-center">Superficie</th>
                <th class="text-center">Caractéristiques de la construction</th>
                <th class="text-center">Impôt</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              {% include 'foncier_expertise/includes/_foncier_expertise_caracteristique_liste.html' %}       
            </tbody>
          </table>  
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <div id="message_fade" class="float-left text-white bg bg-danger" style="display:none;"></div>

    {% if not objPar.date_validate  %}
      <!--IMPRESSION DE L'APERÇU DE LA NOTE D'IMPOSITION EN MODE BROUILLON-->
      <a href="{% url 'apercu_ni_print_pdf' objPar.pk %}" target="_blank" class="btn btn-danger" title="Aperçu de la note d'imposition"><span class="fa fa-print"></span>&nbsp;Aperçu</a>
    {% elif not objPar|si_exonere and not objPar.is_ecriture_valid %}
      <a href="{% url 'apercu_ni_print_pdf' objPar.pk %}" target="_blank" class="btn btn-danger" title="Aperçu de la note d'imposition"><span class="fa fa-print"></span>&nbsp;Aperçu</a>
    {% endif %}

    <!-- L'event onclick est tres important pour le rafraichissement de TB (rechargement de la liste) -->
    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="location.href='{% url 'foncier_expertise_list' %}'"><i class="fa fa-close"></i>&nbsp;Fermer</button>
  </div>
</form>
